body {

    display: flex;
    flex-direction: column;
    margin: 0;
    background: #f3f3f3;

}

section {
    display: flex;
    flex-direction: row;
}

header {

    min-height: 45px;
    border-bottom: 1px solid gray;
}

nav {
    flex-basis: 300px;
    flex-shrink: 0;
    border-right: 1px solid gray;
    width: 100%;
    min-height: calc(100vh - 46px);
}

main {

    padding: 15px;
    
}
