.table {
    display: flex;
    flex-flow: column wrap;
    font-size: .8rem;
    margin: 0.5rem;
    line-height: 1.5;
    border-bottom: 1px solid red; // flex: 1 1 auto;
}

.th {
    display: none;
    font-weight: 700;
    background-color: #f2f2f2;
}

.th>.td {
    white-space: normal;
    justify-content: center;
}

.tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.td {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    white-space: nowrap;
    border-bottom: 1px solid #d0d0d0;
}

// box
// flex container
.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    background-color: #b3b3b3;
    margin: 5px;
    border: 2px solid rebeccapurple;
    height: 100%;
    div.box-item {
        order: 1;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: stretch;
        min-width: 0;
        min-height: auto;
        margin: 5px;
    }
    div.invoice-items-box:nth-of-type(even) {
        background-color: #f2f2f2;
    }
    div.invoice-items-box:nth-of-type(odd) {
        background-color: #ffffff;
    }
}

.invoice-items-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    padding: 5px;
    div {
        order: 1;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: center;
        min-width: 0;
        min-height: auto;
        margin: 10px;
    }
}

// phone
@media (max-width: 661px) {
    .invoice-items-box {
        flex-direction: column;
    }
}
